a{
  text-decoration: none;
  color:#101920;
}
.my_head{
    width: 100%;
    height:70px;
}
.my_footer{
   width:100%;
   height:390px;
}
.content{
  width:1200px;
  margin:0px auto;
}
.nav{
  width: 100%;
  height: 60px;
 /* border:1px solid #000000;*/
  position:relative;
}
.nav-text{
  height:60px;
  position:absolute;
  right:15%;
  display: flex;
}
.btn{
  font-size:15px;
}
.nav-text>div{
  width:114px;
  height:40px;
  float:left;
  text-align: center;
  line-height:40px;
  padding:10px 0;
  font-weight: bold;
  color:#101920;
  margin:auto 0px;
  
}
.dropdown{
  position:relative;  
}
.dropdown-menu{
/*  display:none;*/
  position:absolute;
  top: 35px;
  left: 0px;
  cursor: pointer;
  height:0px;
  overflow: hidden;
  transition:all 0.5s linear;
/*  background-color:#000000;*/
/*  opacity:0.3;*/
/*  z-index: 10;*/
  
}
.dropdown:hover .dropdown-menu{
  display:block;
  height:240px;
  z-index:10;

}
.dropdown-menu>ul{
  list-style: none; 
  /*display: none; */
}
.dropdown-menu>li>a{
  text-decoration: none;
  color:#101920;
  font-weight: bold; 
}
.content::after{
  display: block;
  content:"";
  clear:both;
}
.content>div{
  width:25%;
  height:350px;
  border:1px solid 	#B0B0B0 ;
  float:left;
  /*background-color:#F8F8F8;*/
  text-align: center;
  position:relative;
}
.content>div>div{
  margin:30px;
}
.content>div+div{
  border-left: 0px;
}
.content>div:nth-child(5),.content>div:nth-child(9){
  border-left:1px solid 	#B0B0B0 ;
}
.content>div:nth-child(4)~div{
  border-top: 0px;
}
.product-item{
  width:100%;
  height:350px;
  background-color:#cfffff;
  opacity:0.4;
  position:absolute;
  top:0px;
  left:0px;
  margin:0px;
  text-align: center;
  display:none;
}

.product-item .join-car{
  display:inline-block;
  text-decoration: none;
  width:80px;
  height: 40px;
  line-height:40px;
  font-size:15px;
  background-color:#00FFCC;
  color:#000000;
  border-radius: 20px;  
  margin:215px auto 0px; 
  cursor: pointer;
}
.img:hover .product-item{
  display:block;
}
.price{
  transition:color 1s;
}
.content .price:hover{
  color:red;
}