*{
      border:0px;
      padding:0px;
      box-sizing:border-box;
    }
    a{
      text-decoration:none
    }
    .container{
      width:1200px;
      margin:0px auto;
      }
    .content-top,.content-center,.content-foot{
      /*border:1px solid #000;*/
      margin-bottom:30px;
      padding:20px 0px;
    } 
    .content-top>div{
      width:50%;
      float:left;
      /*text-align: center;*/
      /*border:1px solid pink;*/
    }
    .item-big-img{
      text-align: center;
    }
    .content-top .item-img img{
      width:80%;
    }
    .content-top .item-img>div ul{
      list-style:none;
      display:flex;
      margin:0;
      width:300px;
      margin:0 auto;
      justify-content:space-between;

     }
     .content-top>.item-img>div:nth-child(2)>ul>li{
       border:1px solid #ccc;

     }
     .content-top>.item-img>div:nth-child(2)>ul>li>img{
        width:80px;
     }
    .content-top::after{
      content:"";
      display:block;
      clear:both;
    }
  .server-list>div{
    border-bottom:1px solid #999;
    margin:20px 0px 12px;
    padding-bottom:8px;
    width:100%;
  }
  .server-list>div:first-child>span{
    display:block;
    font-size:20px;
    padding:15px 0 15px 20px;
  }
  .server-list>div:nth-child(2)>a{
  color:skyblue;
}
.server-list>div:nth-child(2)>ul>li{
  margin:0 0 15px 15px;
  font-size:15px;
  color:red;
}
.server-list>div:nth-child(3){
 padding:0 0 30px 0px;
}
.server-list>div:nth-child(3)>div{
  display: flex;
  flex-wrap:wrap;
  margin-left:10px;
}
.server-list>div:nth-child(3)>div>span{
  display:block;
  width:238px;
  height:58px;
  margin:20px 30px 0 0;
  box-shadow:2px 2px 2px #ccc,-2px -2px 2px #ccc;
  line-height:60px;
  text-align:center; 
  transition:font-size box-shadow 0.5s linear;
}
.server-list>div:nth-child(3)>div>span:hover{
  font-size:18px;
  box-shadow:2px 2px 2px red,-2px -2px 2px red;
}
.server-list>div:nth-child(4)>div{
  display:flex;
  justify-content:space-between;
  margin:15px 0 15px 10px;
  box-shadow:2px 2px 2px #ccc,-2px -2px 2px #ccc;
  
}
.server-list>div:nth-child(4)>div span,.server-list>div:nth-child(4)>div>a{
  display: block;
  margin:15px;
}
.server-list>div:nth-child(4)>div span:last-child{
  font-size:12px;
  color:#999;
}
.server-list>div:nth-child(4)>div a{
  line-height:52px;
  font-size:14px;
  margin-right:30px;
}
.server-list>div:nth-child(5)>div{
  display:flex;
  flex-wrap:wrap;
  padding-left:15px;
}
.server-list>div:nth-child(5)>div>div{
  width:280px;
  height:150px;
  box-shadow:1px 1px 1px #999,-1px -1px 1px #999;
  margin:0 10px 20px 0;
  font-size:12px;
}
.server-list>div:nth-child(5)>div>div>div{
  display:flex;
  /*flex-wrap:wrap;*/
  flex-direction:column;
}
.server-list>div:nth-child(5)>div>div>div .server-title{
  font-size:15px;
}
.server-list>div:nth-child(5)>div>div>div>div+span{
  display:block;
  margin-left:15px;
}
.server-list>div:nth-child(5)>div>div>div>div{
  display:flex;
  justify-content:space-between;
  margin:15px 0px;
  padding:0 15px;
}
.server-list>div:nth-child(6)>div>span{
  display:inline-block;
  font-size:16px;
  cursor:pointer;
  padding:15px;
}
.server-list>div:nth-child(6)>div ul{
  list-style:none;
  display:flex;
  flex-wrap:wrap;
}
.server-list>div:nth-child(6)>div>div{
  padding:0 0 0 15px;
}
.server-list>div:nth-child(6)>div ul>li{
  display:block;
  border:1px solid #000;
  width:275px;
  height:70px;
  text-align:center;
  padding:20px 0 0 0;
  margin:0px 17px 15px 0;
}
.server-list>div:nth-child(6)>div ul>li>p{
  font-size:13px;
  margin:0;
 
}
.server-list>div:nth-child(7)>ul{
  display:flex;
  list-style:none;
}
.server-list>div:nth-child(7)>ul>li{
  display:inline-block;
  margin-right:15px;
  font-size:15px;
}
.server-list #read-txt{
  font-size:13px;
}
  .content-center>div{
    width:284px;
    height:384px;
    margin-right:15px;
    margin-bottom:15px;
    float:left;
  }
  .content-center,.content-foot>h1{
    text-align:center;
  }
  .content-center>div{
    box-shadow:2px 2px 5px #ccc,-2px -2px 5px #ccc;
  }
  .content-center>div>img{
    width:100%;
  }
  .content-center>div>div{
    display:flex;
    flex-direction:column;
  }
  .content-center>div>div>span{
    display:block;
    font-size:13px;
    margin-bottom:5px;
  }
.content-center>div>div>a{
  display:block;
  width:110px;
  height:40px;
  margin:0 auto;
  font-size:14px;
  padding:5px 10px;
  background-color: #fff;
  border:1px solid red;
  color:red;
  cursor:pointer;
  border-radius:5px;
  line-height: 28px;
}
  .content-center::after{
    content:"";
    display: block;
    clear:both;
  }
  .content-foot>div{
    width:380px;
    float:left;
    box-shadow:5px 5px 5px #999;
    margin-bottom:20px;
    padding-bottom:30px;
    text-align:center;
  }
  .content-foot>div:nth-child(3){
    margin:0 20px;
  }
  .content-foot>div>img{
    width:100%;
  }
